https://github.com/GClunies/noaa_coops

In [63]:
from noaa_coops import Station
from pprint import pprint
mokuoloe = Station(id="1612480")
pprint(mokuoloe.name)

In [7]:
pprint(list(mokuoloe.metadata.items())[:5])

[('tidal', True),
 ('greatlakes', False),
 ('shefcode', 'MOKH1'),
 ('details',
  {'established': '1957-05-03 00:00:00.0',
   'id': '1612480',
   'noaachart': '19359',
   'origyear': '1989-01-21 00:00:00.0',
   'removed': '',
   'self': 'https://api.tidesandcurrents.noaa.gov/mdapi/prod/webapi/stations/1612480/details.json',
   'timemeridian': 0,
   'timezone': -10.0}),
 ('sensors',
  {'self': 'https://api.tidesandcurrents.noaa.gov/mdapi/prod/webapi/stations/1612480/sensors.json',
   'sensors': [{'dcp': 1,
                'elevation': None,
                'message': '',
                'name': 'Acoustic WL',
                'refdatum': '',
                'sensorID': 'A1',
                'status': 1},
               {'dcp': 3,
                'elevation': 32.8084,
                'message': '',
                'name': 'Wind',
                'refdatum': 'Site Elevation',
                'sensorID': 'C1',
                'status': 1},
               {'dcp': 3,
                'elevation': 9.320867,
                'message': '',
                'name': 'Air Temperature',
                'refdatum': 'Site Elevation',
                'sensorID': 'D1',
                'status': 1},
               {'dcp': 1,
                'elevation': -4.031798,
                'message': '',
                'name': 'Water Temperature',
                'refdatum': 'MLLW',
                'sensorID': 'E1',
                'status': 1},
               {'dcp': 1,
                'elevation': 9.058622,
                'message': '',
                'name': 'Barometric Pressure',
                'refdatum': 'MSL',
                'sensorID': 'F1',
                'status': 1},
               {'dcp': 1,
                'elevation': None,
                'message': '',
                'name': 'Tsunami WL',
                'refdatum': '',
                'sensorID': 'U1',
                'status': 1},
               {'dcp': 0,
                'elevation': 8.670171,
                'message': '',
                'name': 'site',
                'refdatum': 'MSL',
                'sensorID': 'site',
                'status': 1}],
   'units': 'feet'})]

In [8]:
print(mokuoloe.data_inventory)

{'Wind': {'start_date': '2008-02-11 18:42', 'end_date': '2024-03-23 16:42'}, 'Verified High/Low Water Level': {'start_date': '1981-01-01 10:54', 'end_date': '2024-02-29 23:54'}, 'Air Temperature': {'start_date': '2008-02-14 21:42', 'end_date': '2024-03-23 16:42'}, 'Water Temperature': {'start_date': '1994-01-12 20:00', 'end_date': '2024-03-23 16:48'}, 'Verified 6-Minute Water Level': {'start_date': '1994-12-01 00:00', 'end_date': '2024-02-29 23:54'}, 'Verified Hourly Height Water Level': {'start_date': '1981-01-01 10:00', 'end_date': '2024-02-29 23:00'}, 'Verified Monthly Mean Water Level': {'start_date': '1957-05-01 00:00', 'end_date': '2024-02-29 23:54'}, 'Barometric Pressure': {'start_date': '2007-06-06 00:00', 'end_date': '2024-03-23 16:48'}, 'Preliminary 6-Minute Water Level': {'start_date': '2001-01-01 00:00', 'end_date': '2024-03-23 16:48'}}

## Collect data from a specific timeframe

In [65]:
df_water_levels = mokuoloe.get_data(
     begin_date="20000101",
     end_date="20240101",
     product="water_level",
     #mean sea level
     datum="MSL",
     units="metric",
     time_zone="gmt")

In [66]:
df_water_levels.head()

                         v      s        f  q
t
2000-01-01 00:00:00 -0.123  0.002  0,0,0,0  v
2000-01-01 00:06:00 -0.134  0.003  0,0,0,0  v
2000-01-01 00:12:00 -0.146  0.003  0,0,0,0  v
2000-01-01 00:18:00 -0.157  0.002  0,0,0,0  v
2000-01-01 00:24:00 -0.171  0.001  0,0,0,0  v

In [68]:
mok_wl = df_water_levels[["v"]]
mok_wl.head()

                         v
t
2000-01-01 00:00:00 -0.123
2000-01-01 00:06:00 -0.134
2000-01-01 00:12:00 -0.146
2000-01-01 00:18:00 -0.157
2000-01-01 00:24:00 -0.171

In [69]:
mok_wl.reset_index(inplace=True)
mok_wl.rename(columns = {'t':'dates','v':'tide'}, inplace = True)
mok_wl.head()

                dates   tide
0 2000-01-01 00:00:00 -0.123
1 2000-01-01 00:06:00 -0.134
2 2000-01-01 00:12:00 -0.146
3 2000-01-01 00:18:00 -0.157
4 2000-01-01 00:24:00 -0.171

In [70]:
mok_wl.to_csv('2000to2024.csv', index = False)